body {
    margin: 0;
    padding: 0;
}

header.top-nav {
    /* Container for top menu bar on each page */
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    height: 80px;
    margin: 10px 20px;
}

.wordmark {
    height: 60px;
}

nav.top-menu {
    width: 100%;
    margin: 0 30px;
}

nav.top-menu > ul {
    display: flex;
    justify-content: flex-end;
}

li.menu-item {
    list-style-type: none;
}

/* sub-nav styles */

.sub-nav{
    display: flex;
    height: 60px;
    background-color: #6399cc;
    justify-content: start;
    align-items: center;
}
.sub-nav-title{   
    color: #DDE5ED;
    font-family: 'Lora', serif;
    font-size: 36px;
    flex: 0 0 310px;
    text-align: right;
    margin-right: 48px;
}
.sub-nav a {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

/* side menu styles */
.side-menu{
    width: 310px;
}
.side-menu, .side-menu input{
    font-family: 'Lora', serif;
    text-align: right;
}
#search-form{
    margin-top: 10px;
}
#search-form input{
    background-color: #DDE5ED;
    border: #6399cc solid;
    border-radius: 7px;
    padding: 7px;
    color: #1E3D5B;
}
#search-form input::placeholder{
    color: #6399cc;
}
.side-menu p{
    color: #6399cc;
    font-size: 12px;
}
.side-menu-filters{
    margin: 20px 0px;
}
.side-menu-item a{
    text-decoration: none;
    color: inherit;
}
.side-menu-item{
    width: 50%;
    margin-left: 50%;
    border-radius: 15px;
    padding: 7px;
    box-sizing: border-box;
    color: #0A141E;

}
.side-menu-item:hover, .side-menu-item.active{
    background-color: #1E3D5B;
    color: #DDE5ED;
}



