:root {
    --main-blue: #6399CC;
    --blue-lt: #B0C5D9;
    --blue-wht: #DDE5ED;
    --blue-med: #1E3D5B;
    --blue-dk: #0A141E;
    --accent-grn: #65CC63;
    --accent-prp: #9663CC;
}


body {
    margin: 0;
    padding: 0;
    font-family: Lora, serif;
    font-weight: normal;
    color: var(--blue-dk);
}

header.top-nav {
    /* Container for top menu bar on each page */
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    height: 80px;
    margin: 10px 20px;
}

.wordmark {
    height: 60px;
}

nav.top-menu {
    /* Navigation container  */
    width: 100%;
    margin: 0 30px;
}

nav.top-menu > ul {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

li.menu-item {
    margin: 20px 0 20px 20px;
    display: block;
}

 li.menu-item a, li.menu-item a:link, li.menu-item a:visited {
    position: relative;
    text-decoration: none;
    color: var(--main-blue);
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    transition: all 300ms;
    
}
li.menu-item a:hover {
    color: var(--blue-dk);
    text-shadow: 0 0 2px var(--blue-dk);
    transition: all 300ms;
    
}
ul li a::after {
    /* underline box  */
    /* https://webdevtrick.com/css-menu-hover-underline/ */
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    top: 120%;
    left: 0;
    background: var(--accent-grn);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: center;
  }

  ul li a:hover::after {
    transform: scaleX(1.4);
  }

/* sub-nav styles */

.sub-nav{
    display: flex;
    height: 60px;
    background-color: var(--main-blue);
    justify-content: start;
    align-items: center;
}
.sub-nav-title{   
    color: var(--blue-wht);
    font-family: 'Lora', serif;
    font-size: 36px;
    flex: 0 0 310px;
    text-align: right;
    margin-right: 48px;
}
.sub-nav a {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

/* side menu styles */
.side-menu{
    width: 310px;
    float: left;
}
.side-menu, .side-menu input, .side-menu button{
    font-family: 'Lora', serif;
    text-align: right;
    font-weight: bold;
}
#search-form{
    margin-top: 10px;
}
#search-form input{
    background-color: var(--blue-wht);
    border: var(--main-blue) solid;
    border-radius: 7px;
    padding: 7px;
    color: var(--blue-dk);
    width: 50%;
    box-sizing: border-box;
}
#search-form input::placeholder{
    color: var(--main-blue);
}
.side-menu p{
    color: var(--main-blue);
    font-size: 12px;
}
.side-menu-filters{
    margin: 20px 0px;
}
.side-menu-item {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    width: 50%;
    margin-left: 50%;
    border-radius: 7px;
    padding: 7px;
    box-sizing: border-box;
    color: var(--blue-dk);
    display: block;
}
.side-menu-item:hover, .side-menu-item.active{
    background-color: var(--blue-med);
    color: var(--blue-wht);
}

#add-job-button{
    width: 50%;
    text-align: center;
    color: var(--blue-med);
    padding: 5px;
    background-color: white;
    border: var(--blue-med) solid;
    border-radius: 7px;
}

/* main content styles */
.list{
    margin-left: 310px
}