body {
    margin: 0;
    padding: 0;
}

header.top-nav {
    /* Container for top menu bar on each page */
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    height: 80px;
    margin: 10px 20px;
}

.wordmark {
    height: 60px;
}

nav.top-menu {
    width: 100%;
    margin: 0 30px;
}

nav.top-menu > ul {
    display: flex;
    justify-content: flex-end;
}

li.menu-item {
    list-style-type: none;
}

/* sub-nav styles */

.sub-nav{
    display: flex;
    height: 60px;
    background-color: #6399cc;
    justify-content: start;
    align-items: center;
}
.sub-nav-title{   
    color: #DDE5ED;
    font-family: 'Lora', serif;
    font-size: 36px;
    flex: 0 0 310px;
    text-align: right;
    margin-right: 48px;
}
.sub-nav a {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}



