<div class="side-menu">
    <input type="text">

    <div class="side-menu-filters">
        <p>FILTER BY</p>
        <div class="side-menu-item">
            <a href="#">All</a>
        </div>
        <div class="side-menu-item">
            <a href="#">Full Time</a>
        </div>
        <div class="side-menu-item">
            <a href="#">Part Time</a>
        </div>
        <div class="side-menu-item">
            <a href="#">Freelance</a>
        </div>
        <div class="side-menu-item">
            <a href="#">Contract</a>
        </div>
        <div class="side-menu-item">
            <a href="#">Temporary</a>
        </div>
        <div class="side-menu-item">
            <a href="#">Internship</a>
        </div>
    </div>
    <button id="add-job-button">Add Job</button>
</div>