<div class="side-menu">
    <form action="#" id="search-form">
        <input type="text" placeholder="&#xF002;" style="font-family:Arial, FontAwesome">
    </form>

    <div class="side-menu-filters">
        <p>FILTER BY</p>
        <div class="side-menu-item active">
            <a href="#">All</a>
        </div>
        {{#each @menuItems as |item|}}
        <div class="side-menu-item">
            <a href="#">{{item}}</a>
        </div>
        {{/each}}
    </div>
    <button id="add-job-button">Add Job</button>
</div>