<header class="top-nav">
  <img src="assets/img/logomark-main-lt.svg" alt="Logo" class="logo" />
  <img
    src="assets/img/logomark-wordmark.svg"
    alt="Word Mark"
    class="wordmark"
  />
  <nav class="top-menu">
    <ul>
      <li class="menu-item">
        <LinkTo @route="jobs" class=".link">
          Jobs
        </LinkTo>
      </li>
      <li class="menu-item">
        <LinkTo @route="companies" class=".link">
          Companies
        </LinkTo>
      </li>
      <li class="menu-item">
        <LinkTo @route="people" class=".link">
          People
        </LinkTo>
      </li>
    </ul>
  </nav>
</header>