<div class="sub-nav">
    {{!-- TODO: change dynamic text --}}
    <h2 class="sub-nav-title">Jobs</h2>

    {{!-- TODO: add slack sign-in functionality --}}
    <a href="#">
        <img src="https://api.slack.com/img/sign_in_with_slack.png" />
    </a>
</div>